@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* src: cssgradient website */
  /* background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%); */
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 10px;
}

#header {
  text-align: center;
}

#header-title {
  font-size: 45px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
}

#header-subtext {
  font-size: 20px;
  font-weight: 400;
  color: antiquewhite;
}

#header-link {
  text-decoration: none;
}

/* ========== FORM STYLING ========== */
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.wrapper .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.wrapper .title::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #9b59b6;
  left: 0;
  bottom: 0;
}

.wrapper form .details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  max-height: 60vh;
  overflow-y: scroll;
}

.wrapper form .details::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}

.wrapper form .details::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

.wrapper form .details::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

.wrapper form .details::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.wrapper form .details::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

.wrapper form .details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.wrapper form .details .input-box .label {
  font-weight: 500;
  font-size: 17px;
  display: block;
  margin-bottom: 5px;
}

.wrapper form .details .input-box .input {
  font-size: 16px;
  height: 45px;
  width: 100%;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  margin-bottom: 5px;
  transition: all 0.4s ease;
}

.wrapper form .details .input-box .input:focus {
  border-color: #9b59b6;
}

.wrapper form .details fieldset {
  width: 100%;
  padding: 15px;
  border: 2px solid #71b7e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.wrapper form .details fieldset legend {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.wrapper form .button {
  height: 45px;
  margin: 45px 0;
  width: 100%;
}

.wrapper form .button input {
  height: 100%;
  width: 100%;
  border: none;
  color: #fff;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-align: center;
}

.wrapper form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  cursor: pointer;
}

.addBtn {
  display: block;
  background-color: #9b59b6;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 50px;
  padding: 5px 0;
  border-radius: 5px;
}

#skills,
#experience,
#projects,
#achievements,
#clubs {
  width: 100%;
}

textarea {
  padding: 5px;
  min-height: 25vh;
  font-size: 15px !important;
  font-weight: 300;
}

#footer {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
#attribution-by {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1rem;
}
#attribution-inspirations-title {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 1rem;
}
#attribution-inspirations {
  font-weight: 400;
  font-size: 0.75rem;
}
#attribution a {
  color: antiquewhite;
  transition: all 0.4s ease;
}
#attribution a:hover {
  color: #000;
}

@media (max-width: 584px) {
  .wrapper {
    max-width: 100%;
  }
  .wrapper form .details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .wrapper form .details {
    max-height: 300px;
    overflow-y: scroll;
  }
}

/* ========== RESUME STYLING ========== */

.hidden {
  display: none !important;
}
